NextPlayer.nex
DISPLAYEDGE
cc.lst
cc.sym.txt
compile.bat
cspect.log
more_copy1.png
more_copy2.png
screenshot1.png
sjasmplus.exe
CalmCommander.nex
player.map
cc1.bin
cc2.bin
cc.bin
hlavni.lst
hlavni.sym.txt
hlavni.asm
quido.exe
screenshot_2022_9_5___16_43_15.png
screenshot_2022_9_5___16_43_9.png
screenshot_2022_9_6___11_17_54.png
pokus.asm
screenshot_2022_9_10___0_11_41.png
screenshot_2022_9_10___0_11_44.png
screenshot_2022_9_10___0_11_54.png
screenshot_2022_9_10___0_12_7.png
